{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": false,
    "printWidth": 0,
    "arrowParens": "always",
    "trailingComma": "none",
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "proseWrap": "preserve"
}
